NPCData(
    display_name: "Geodude",
    info: Enemy(),
    collider: Some(Circle(
            0.625,
        )),
    stats: Some((
        Health(hp: 20),
        Damage(5),
    )),
    moves: [
        Tackle
    ],
    spritesheet: AnimationSpritesheet(
        animations: [
            Idle,
            Walking, // AttackSwipe,
        AttackTackle,
        Hurt,
        // Down,
        // Fainting,
        // Fainted,
        ],
        sprite_size: UVec2(
            32,
            32,
        ),
        data: {
            Idle: {
                variant: Idle,
                frames: 4,
            },
            Walking: {
                variant: Walking,
                frames: 2,
            }, 
            // AttackSwipe: AnimationData(
            //     frames: 2,
            // ),
            AttackTackle:  {
                variant: AttackTackle,
                frames: 4,
            },
            Hurt: {
                variant: Hurt,
                frames: 1,
            },
            // Down: AnimationData(
            //     frames: 2,
            // ),
            // Fainting: AnimationData(
            //     frames: 2,
            // ),
            // Fainted: AnimationData(
            //     frames: 2,
            // ),
        },
    ),
)
