NPCData(
    display_name: "Void",
    info: None,
    collider: None,
    stats: None,
    moves: None,
    spritesheet: AnimationSpritesheet(
        animations: [
        ],
        sprite_size: UVec2(
            0,
            0,
        ),
        data: {
            Idle: {
                variant: Idle,
                frames: 2,
            },
        },
    ),
)
